
@font-face {
  font-family: 'Play';
  src: url('Play.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: linear-gradient(to bottom, #000000, #150333);
  transition: background ease-in-out 300ms, color ease-in-out 150ms, padding ease-in-out 150ms;
  color: whitesmoke !important;
  font-family: 'Play', sans-serif !important;
}

.navbar-toggler-icon{
  color: whitesmoke !important;
}

.card{
  background: linear-gradient(to bottom, #F3E77B, #150333);
  color: #150333 !important;
}

.card-header{
  color: #150333 !important;
  background-color: transparent !important;
  border: none !important;
}

.card-text{
  font-size: 20pt;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2730%27 height=%2730%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%28255, 255, 255, 1%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e") !important;
}

.logo-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000; /* Adjust this value based on your needs */
  cursor: pointer;
}

.banner-container img {
  width: 100%;
}

@media (min-width: 992px) {
  .banner-container {
    overflow: hidden;
    height: 200px; /* Adjust the height value to crop the desired amount */
  }

  .banner-container img {
    position: relative;
    top: -175px; /* Adjust the top value to position the image correctly */
  }
}
